<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Phonebook Login</title>
	</head>
	<body>
		<form method="post">
			<table>
				<tr>
				<td></td><td><div style="color:red">{{admin_message}}</div></td>
				<td></td><td><div style="color:red">{{error}}</div></td>
				</tr>
				<tr>
				<td>Username:</td> <td><input autofocus="autofocus" name="username" type="text" style="width: 200px"/></td>
				</tr>
				<tr>
				<td>Password:</td> <td><input name="password" type="password" style="width: 200px"/></td>
				</tr>
				<tr>
				<td></td><td style="text-align: right"><input type="submit" value="Login"/></td>
				</tr>
			</table>
		</form>
	</body>
</html>
